__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

*.egg-info/
build/
dist/

node_modules/
public/dist/

.DS_Store
*.log
*.sql
*.sqlite
*.db

.env
.env.*
*.pem
*.key
